body {
    font-family: 'Cormorant Unicase', serif;
    font-size: 25px;
    text-align: center;
    background-color: gray;
    background-image: url(https://i.imgur.com/A3hY8KQ.jpeg);
    background-size: cover;
}

#begin {
    font-family: 'Cormorant Unicase', serif;
    font-size: 20px;
}

h1 {
    color: black;
    padding-inline: 30px;
}

.answer {
    font-family: 'Cormorant Unicase', serif;
    font-size: 25px;
}

#question {
    background-color: azure;
}

span {
    background-color: azure;
}